.header__lang-link {
    display: inline;
    text-align: right;
    font-size: 24px;
    line-height: 28px;
    margin-right:18px;
    text-decoration: none;
    color: white;
    max-width:30px;
    max-height:28px;
    list-style-type: none;
    font-weight: 400;
}

.header__lang-link:last-child {
    margin-right: 0;
}
.header__lang-link:focus {
text-decoration: underline;
}

@media screen and (max-width: 320px) {
        .header__lang-link {
        max-width: 22px;
        max-height: 20px;
        font-size: 18px;
        line-height: 20px;
    }
  }