.place__title {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 48px;
    font-size: 72px;
    line-height: 76px;
    max-height: 152px;
    max-width: 460px;
}

@media screen and (max-width: 1024px) {
    .place__title {
        max-width: 440px;
    }
}
@media screen and (max-width: 768px) {
    .place__title {
        max-width: 340px;
        max-height: 92px;
        line-height:46px;
        font-size: 42px;
    }
}
@media screen and (max-width: 320px) {
    .place__title {
        max-width: 288px;
        max-height: 35px;
        line-height: 35px;
        margin: 0 16px 32px 16px;
        font-size: 32px;
    }
}
