.cover__subtitle {
    font-size:18px;
    text-align: center;
    width: 360px;
    height: 66px;
    line-height: 22px;
    z-index: 2;
    margin-top: 32px;
}

@media screen and (max-width: 319px) {
    .cover__subtitle {
        width: 288px;
        font-size: 14px;
        line-height: 16px;
        margin-top: 16px;
    }
  }