.lead__title {
    align-items: center;
    font-weight: 900;
    font-size: 96px;
    line-height:100px;
    width: 720px;
    max-height: 200px;
    margin-top: 48px;
    
}
 @media screen and (max-width: 320px) {
     .lead__title {
        min-width: 288px;
         font-size: 40px;
         min-height: 88px;
         line-height: 44px;   
     }
   }