.intro__text {
    margin-top: 40px;
    font-size: 16px;
    width: 690px;
    line-height: 26.08px;
    font-weight: 400;
    
   
}

@media screen and (max-width: 1023px) {
    .intro__text {
         width:720px;
        
     }
   }
@media screen and (max-width: 767px) {
    .intro__text {
         width: 288px;  
     }
   }