.intro_text {
    margin-bottom:32px;
    margin-top: 40px;
    font-size: 1rem;
    max-width: 690px;
}
@media screen and (max-width: 767px) {
    .intro__text {
         max-width: 720px;
         
     }
   }
@media screen and (max-width: 600px) {
    .intro__text {
         margin-left:16px;
         margin-right: 16px;
         font-size: 16px;
         max-width: 288px;  
     }
   }