.lead__subtitle {
    text-align: center;
    font-size: 30px;
    max-width: 640px;
    max-height: 72px;
    width: 100%;
    line-height: 36px;
    margin: 0;
}
@media screen and (max-width: 1279px) {
    .lead__subtitle {
        width: calc( 100% - 2 * 320px);
}
  }

@media screen and (max-width: 1023px) {
    .lead__subtitle {  
        width: calc( 100% - 2 * 192px);
}
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        width: calc( 100% - 2 * 64px);
    }
}
@media screen and (max-width: 319px) {
    .lead__subtitle {
        width: calc( 100% - 2 * 16px);
        font-size: 16px;
        width: 288px;
        line-height: 20px;
        margin: 16px 16px 40px 16px ;
    }
  }