.page__container {
    min-width: 320px;
    max-width: 1184px;
    min-height: 100vh;
    margin: 0 auto;
}

@media screen and (max-width: 1023px) {
    .page__container {
        max-width: 928px;
    }
}
@media screen and (max-width: 767px) {
    .page__container {
        max-width: 720px;
    }
}
@media screen and (max-width: 288px) {
    .page__container {
        max-width: 288px;
    }
}